Options +Indexes
AuthUserFile /home/virtual/site11/fst/var/www/.htpasswd
AuthGroupFile /home/virtual/site11/fst/var/www/.htgroup
AuthName "council"
AuthType Basic
<Limit GET>
require group  Colleagues
</Limit>
